{% extends 'base.html.twig' %}

{% block title %}Ai uitat parola?{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="bg-light">
        <div class="container" style="height: 500px">
            <div class="row">
                <div class="col-12 mt-4">
                    {{ form_start(requestForm) }}
                    {{ form_row(requestForm.email) }}
                    <div>
                        <small>
                            Introdu adresa de email si iti vom trimite un
                            link pentru a vă reseta parola.
                        </small>
                    </div>

                    <button class="btn btn-primary">Trimite</button>
                    {{ form_end(requestForm) }}
                    <h1>Reseteaza-ti parola</h1>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
