{% block content %}
    <div class="col-12">
         <div class="row">
             <div class="col-3 mt-5 px-4  pt-2">
                 <div class="card">
                     <a href="#"><img class="card-img-top" src="images/" alt="nume"></a>
                     <div class="card-body text-center">
                         <h5 class="card-title">name</h5>
                         <p><a href=#>vendor</a></p>
                         <h6>
                             <s>price <span>Lei</span></s>
                             <span class="product-this-deal">discount</span>
                             <s>price <span>Lei</span></s>
                         </h6>
                     </div>
                 </div>
             </div>
         </div>
     </div>
{% endblock %}