 <a href="{{ url('homepage') }}"><img  width="150px" src="{{ asset('images/logo.png') }}" alt="logo.png"></a>Admin Panel
<h1>
    Admin Panel
</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Link
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                User index -
            </td>
            <td>
                <a href="{{ url('user_index') }}">User index Link</a>
            </td>
        </tr>
    </tbody>
</table>