{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                This is {{ category.name }} category!!!
            </div>
            <div class="col-12">
                {{ include ('default/product/productCard.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
