{% extends 'base.html.twig' %}

{% block title %} GEN Market{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-2 list-group mt-2 mb-2">
                <ul>
                    <h3>Produse</h3>
                    {% for category in categories %}
                        <div class="btn-group dropright list-group col-12 mt-1">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ category.name }}
                            </button>
                            <div class="dropdown-menu">
                                <a href="{{ url('category', {'category':category.id}) }}">{{ category.name }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-7">
                {{  include ('default/parts/indexCarousel.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

