{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                This is {{ vendor.name }} vendor!!!
            </div>
            <div class="col-12">

            </div>
        </div>
    </div>
{% endblock %}
