{% extends 'base.html.twig' %}
{% block title %}Adauga Produs{% endblock %}

{% block body %}
    <div class="bg-light">
        <div class="container" style="height: 1500px">
            <div class="row">
                <div class="col-4 mt-3">
                    {{ form(vendorProductForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

