{% extends 'base.html.twig' %}
{% block title %}Date personale{% endblock %}

{% block body %}
    <div class="container-fluid bg-light">
            <div class="container" style="height: 500px">
                <div class="row">
                    <div class="col-4 mt-3">
                        {{ form(userInfoForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
